body {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
  }
  .background-container {
    width: 1400px;
    height: 900px;
    background-color: #9DBEBB;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form-container {
    display: flex;
    align-items: flex-start;
    width: 954px;
    height: 594px;
    background: linear-gradient(to right, #BE0909 66%, #FFA64D 34%);
  }
  
  .form-left {
    font-family:"Roboto", serif;
    padding: 40px;
    color: #BE0909;
  }
  
  .label-Name {
    display: flex;
    font-size: 18px;
    font-weight: bold;
  }
  input,
  textarea {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 4px solid #9DBEBB;
    color: #ffffff;
    font-size: 18px;
    padding: 18px ;
    margin-bottom: 10px;
    margin-left: 20px;
  }
  input::placeholder,
    textarea::placeholder {
      color: #FEFFFF;
      width: 100px;

    }
    input,textarea :hover{
        color: black;
    }
    
    .button{
        background-color: #468189;
        box-shadow: #468189;
        color: #FEFFFF;
        padding: 10px 30px;
        border: #000000;
        border-radius: 40px;
        font-family:"Roboto", serif;
        font-size: 18px;
        cursor: pointer;
        display: inline-block;
        position:absolute;
        left: 2200px;
        top: 1350px;
        
        
      }
      .button:hover{
        color: orangered;
        background-color: white;

      }
  
      /*.form-right {
        background: #FFB039;
        width: 345px;
        height: 594px;
        position: relative;
    
      }
        */
      
  
      .duck {
        width: 585px;
        height: 603px;
        position:absolute;
        flex-wrap: wrap;
        top: 215px;
        left: 585px;
      }
      